<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    
  <a href="episodes/<%=episode.id%>"><li><%= "Episode Number: #{episode.number} - Episode Date:#{episode.date}"%></li></a>
  <% end %>
</ul>
