<form action = "/episodes" method = POST>
<label for = "name">Date</label>
<input id = "name" type = "text" name = "date" required = "required"/>
<label for = "description">Number</label>
<input id = "description" type = "text" name = "number" required = "required"/>

<input type = "submit" value = "Submit"/>
</form>