<h1>Appearances</h1>

<form method = "post" action = "/createappearance">
Episode ID <input name = "episode_id" type="text">
Guest ID <input name = "guest_id" type="text">
Rating <input name = "rating" type = "text">
<input type = "submit" value = "Add Appearance">